@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900');

/* Navbar */
nav {
    /* Blue nav: #0a378b 
       Red  nav: #aa040f */
    background-color: #000DCB;
    width: 100%;
}

nav a span {
    color: white;
    font-family: 'Orbitron', sans-serif; 
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-left: 7px;
}

nav a span:hover {
    color: rgb(255, 215, 69) !important;
}

nav div ul li a {
    color: white !important;
    font-family: 'Orbitron', sans-serif; 
    font-size: 18px;
    position: relative;
    top: 3px;
}

nav div ul li a:hover {
    color: rgb(255, 215, 69) !important;
}

nav div ul li .active {
    color: rgb(255, 215, 69) !important;
}

nav div ul li {
    margin: 0 2px;
}

/* Content */
 #content {
    min-height: 100%;
    min-height: -webkit-calc(100% - 96px);
    min-height: -moz-calc(100% - 96px);
    min-height: calc(100% - 96px);
} 

.container {
    padding: 0;
}

/* Footer */
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 2em 0;
    width: 100%;
 }
 
 #footer .fa {
    margin: 0 4px;
    font-size: 30px;
    text-decoration: none;
    color: white;
 }

 #footer .fa:hover {
    opacity: 0.6;
 }