@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900');

/* Navbar */
nav {
    /* Blue nav: #0a378b 
       Red  nav: #aa040f */
    background-color: #0a378b;
    
}
nav a span {
    color: white;
    font-family: 'Orbitron', sans-serif; 
    font-size: 18px;
    position: relative;
    top: 3px;
}

nav div ul li a {
    color: white !important;
    font-family: 'Orbitron', sans-serif; 
    font-size: 16px;
    position: relative;
    top: 4px;
}

nav div ul li a:hover {
    color: #FEC108 !important;
}

nav div ul li {
    margin-left: 2px;
    margin-right: 2px;
}

/* Content */
.container {
    min-height: 70%;
    min-height: -webkit-calc(100% - 100px);
    min-height: -moz-calc(100% - 100px);
    min-height: calc(100% - 100px);
}

/* Footer */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aa040f;
    color: white;
    text-align: center;
    padding: 2em 0;
 }
 
 .footer .fa {
    margin: 0 4px;
    font-size: 30px;
    text-decoration: none;
    color: white;
 }

 .footer .fa:hover {
    opacity: 0.6;
 }