<span class="pageTitle">About SCP</span>
<mat-divider style="top: 15px; position: relative; margin: 0 20px ;"></mat-divider>

<div class="container" style="position: relative; top: 15px; width: 100%; margin: 10; padding: 0%; margin-bottom: 30px" class="">
    <br>
    <span class="contactHeader">Purpose</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Society of Competitive Programmers is dedicated to encouraging students to participate in programming competitions and hackathons. 
            We facilitate the formation and mentoring of teams by providing technical workshops and hands-on programming sessions.  
        </span>
    </div>
    <br>
    <span class="contactHeader">General Information</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Society of Competitive Programmers is a special interest student organization that was founded in the Spring Semester of 2018 with the intention of encouraging students from the University of South Florida to go to hackathons. 
            <br><br>
            <b>Advisor:</b>&nbsp; William Hendrix<br>
            <b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;whendrix@usf.edu
            
            <br><br>
            Interim A&S Budget Approval - 7/13/18 - $2,495
        </span>
    </div>
    <br>
    <span class="contactHeader">Types of Events</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            With these events, you will be able to learn how to apply certain skills to hackathons with our Technical Workshops, work in a large group to prepare for the Engineering Expo in our Expo Meetings, and apply skills, learned or no, in our Technical Programming Sessions.
        </span>
        <br>
        <br>
        <span class="subHeading">1. Technical Workshop</span>
        <br>
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Technical Workshops that we hold in our organization are 2 hour sessions where we teach our members different project that they can program, especially at a hackathon. 
            The topics of these workhshops are all Technical based with the purpose of having our members be capable of replicating the concepts taught in this session.
        </span>
        <br><br>
        <span class="subHeading">2. Hackathon Prep Meeting</span>
        <br>
        
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Hackathon Preparation Meetings are designed to help hackathon attendees to properly perpare for upcoming hackathons through showing what kinds of transportation are available, helping to form hackathon groups, and brainstorming ideas for said groups.
        </span>
    </div>
    <br>
    <span class="contactHeader">SCP Impact</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            <p>
                The Society of Competitive Programmers (SCP) was established in January of 2018 with the purpose of creating a hackathon and innovation culture among USF students by encouraging and supporting students in preparation for various hackathon and programming competitions. 
            </p>
            <p>
                There is an organization called Major League Hacking who supports hackathon organizers around the nation, and releases a yearly ranking of how each school fares in these competitions in terms of merit and attendance. 
            </p>
            <p>
                Before SCP & Hackabull started, <a href="https://mlh.io/standings/na-2017">this</a> was the ranking released by MLH for 2016-2017 Season which ranked USF at 114th Overall (1568th in Attendance and 67th in Merit). This put USF at 7th in Florida behind schools like UF, FIU, UCF, Embry-Riddle, FSU and Florida Polytechnic.
            </p>
            <p>
                For Season 2017-2018, SCP was in existence for 1 semester and travelled to 3 hackathons in total. <a href="https://mlh.io/standings/na-2018">Rankings</a> for that year, as released and updated recently, put USF at #76 Overall (1687th in Attendance, 55th in Merit), which still behind UF, FIT, FIU, UCF and Embry-Riddle. 
            </p>
            <p>
                Season 2018-2019 was one of the most exciting ones for SCP, as we have travelled to more than 10 hackathons, helping more than 100 students experience their first or next hackathon. Generous funding from companies like Qualcomm and JP Morgan, and USF CSE Department and Student Government allowed us to explore and win awards at numerous hackathons around the country. Also, for the first time, Hackabull was established as a full MLH affiliated hackathon, which brought credibility to USF as a competitive hackathon school. New MLH rankings released in September ranked us at #44 (#41 in Attendance and #52 in Merit) putting USF at 2nd in Florida only behind UF (#12th Overall).
            </p>
            <p>
                Our membership has grown from 10 to about 350 active members in the last 1.5 years. Our goal for the next year's rankings is to finally become the 1st in Florida and crack top 25 overall, which is pretty ambitious given the popularity of schools such as UF within the hackathon community. 
            </p>
        </span>
    </div>
                
</div>