<span class="pageTitle">About SCP</span>
<mat-divider style="top: 15px; position: relative; margin: 0 20px ;"></mat-divider>

<div class="container" style="position: relative; top: 15px; width: 100%; margin: 10; padding: 0%; margin-bottom: 30px" class="">
    <br>
    <span class="contactHeader">Purpose</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Society of Competitive Programmers is dedicated to encouraging students to participate in programming competitions and hackathons. 
            We facilitate the formation and mentoring of teams by providing technical workshops and hands-on programming sessions.  
        </span>
    </div>
    <br>
    <span class="contactHeader">General Information</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Society of Competitive Programmers is a special interest student organization that was founded in the Spring Semester of 2018 with the intention of encouraging students from the University of South Florida to go to hackathons. 
            <br><br>
            <b>Advisor:</b>&nbsp; William Hendrix<br>
            <b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;whendrix@usf.edu
            
            <br><br>
            Interim A&S Budget Approval - 7/13/18 - $2,495
        </span>
    </div>
    <br>
    <span class="contactHeader">Types of Events</span>
    <div class="col-10 col-md-11 textDiv">
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            With these events, you will be able to learn how to apply certain skills to hackathons with our Technical Workshops, work in a large group to prepare for the Engineering Expo in our Expo Meetings, and apply skills, learned or no, in our Technical Programming Sessions.
        </span>
        <br>
        <br>
        <span class="subHeading">1. Technical Workshop</span>
        <br>
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Technical Workshops that we hold in our organization are 2 hour sessions where we teach our members different project that they can program, especially at a hackathon. 
            The topics of these workhshops are all Technical based with the purpose of having our members be capable of replicating the concepts taught in this session.
        </span>
        <br><br>
        <span class="subHeading">2. Hackathon Prep Meeting</span>
        <br>
        
        <span class="normalText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            The Hackathon Preparation Meetings are designed to help hackathon attendees to properly perpare for upcoming hackathons through showing what kinds of transportation are available, helping to form hackathon groups, and brainstorming ideas for said groups.
        </span>
    </div>
                
</div>