<html>
    <head>
        {{template "head"}}
        <link rel="stylesheet" href="../src/css/about.css">
        <script type="text/javascript" src="../src/js/about.js"></script>
    </head>
    <body>
        {{template "header"}}
        {{template "title" .}}

            <!-- Content -->
            <div class="container">

                <!-- sumBoxes Cards -->
                <div id="sumBoxContainer">
                    <!-- Purpose and Description Card -->
                    <div class="row">
                        <div id="purpBox" class="sumBox col-12">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> Purpose and Description
                                </div>
                                <div class="card-body">
                                    <h5 id="purpBoxBtn" class="card-title headerLink">Purpose</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Society of Competitive Programmers is dedicated to encouraging students to participate in programming competitions and hackathons. 
                                        We facilitate the formation and mentoring of teams by providing technical workshops and hands-on programming sessions.
                                    </p>
                                    <h5 id="eventBoxBtn" class="card-title headerLink">Types of Events</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        There are four different types of regular meetings in our organization in order to both encourage and prepare our members for programming competitions and hackathons.
                                        The Types of Meetings are:
                                    </p>
                                    <ul class="card-text">
                                        <li><a id="techTitleBtn" class="headerLink evLink">Technical Workshop</a></li>
                                        <li><a id="expoTitleBtn" class="headerLink evLink">Expo Meeting</a></li>
                                        <li><a id="algoTitleBtn" class="headerLink evLink">Algorithmic Programming Session</a></li>
                                        <li><a id="techProTitleBtn" class="headerLink evLink">Technical Programming Session</a></li>
                                    </ul>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        With these events, you will be able to learn how to apply certain skills to hackathons with our Technical Workshops, work in a large group to prepare for the Engineering Expo in our Expo Meetings, 
                                        code problems to prepare for programming competitions in our Algorithmic Programming Sessionss, and apply skills, learned or no, in our Technical Programming Sessions. More information about these meetings is described below.
                                    </p>
                                    <h5 id="genBoxBtn" class="card-title headerLink">General Information</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Society of Competitive Programmers is a special interest student organization that was founded in the Spring Semester of 2018 with the intention of encouraging students from the University of South Florida to go to hackathons.
                                        More general information about our organization is described below.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Event Meeting Types -->
                    <div class="row">
                        <div id="eventBox" class="sumBox col-12">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> Types of Events
                                </div>
                                <div class="card-body">
                                    <h5 id="techTitle" class="card-title">Technical Workshop</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Technical Workshops that we hold in our organization are 2 hour sessions where we teach our members different project that they can program, especially at a hackathon.
                                        The topics of these workhshops are all Technical based with the purpose of having our members be capable of replicating the concepts taught in this session.
                                    </p>
                                    <h5 id="expoTitle" class="card-title">Expo Meeting</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Expo Meetings that we hold in our organization are meetings where members come together to work on our project for Engineering Expo in the Spring Semester.
                                        In these meetings, members can work together in groups and both learn and apply their skills in order to complete this project.
                                    </p>
                                    <h5 id="algoTitle" class="card-title">Algorithmic Programming Session</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Algorithmic Programming Sessions that we hold in our organization are 2 hour sessions where members complete programming problems. 
                                        The purpose of this meeting is to allow our members the opportunity to practice general programming, which is generally useful in programming competitions. 
                                        The problems that are given has varying levels of difficulty, and members are encouraged to work together or ask for help at their leisure.
                                        Points are given during the event, and the people who has the most points by the end of the semester gets a prize. <br><br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">50pts</span> - Attendance 
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">20pts</span> - Easy 
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">30pts</span> - Medium 
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">70pts</span> - Hard
                                    </p>
                                    <h5 id="techProTitle" class="card-title">Technical Programming Session</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Technical Programming Sessions that we hold in our organization are 2-hour simulations of hackathons. You can even call them Mini-Hackathons!
                                        In these sessions, members have the chance to apply their programming skills during the event by trying to fulfill 3 topics that are given during the session, typically based on the previous workshop.
                                        Points are given during the event, and the people who has the most points by the end of the semester gets a prize. <br><br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">50pts</span> - Attendance
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">40pts</span> - Completion of any Category
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pts">30pts</span> - Best in Category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  General Information -->
                    <div class="row">
                        <div id="genBox" class="sumBox col-12">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> General Information
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Description</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        The Society of Competitive Programmers is a special interest student organization that was founded in the Spring Semester of 2018 with the intention of encouraging students from the University of South Florida to go to hackathons.
                                        
                                    </p>
                                    <h5 class="card-title">Advisor</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <b>Name:</b> William Hendrix III<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <b>Email:</b> <span id='adEmail'>whendrix@usf.edu</span>
                                    </p>
                                    <h5 class="card-title">Budget</h5>
                                    <p class="card-text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Interim A&S Budget Approval - 7/13/18 - $2,495
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


            </div>
        {{template "footer"}}
    </body>
</html>
