<html>
    <head>
        {{template "head" }}
        <link rel="stylesheet" href="../src/css/contact.css">
    </head>
    <body>
        {{template "header"}}
        {{template "title" .}}
            <div id="sumBoxContainer">
                <!-- Purpose and Description Card -->
                <div class="row">
                    <div id="purpBox" class="sumBox col-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> General
                            </div>
                            <div class="card-body">
                                <h5 id="purpBoxBtn" class="card-title headerLink">President: Antonio Laverghetta</h5>
                                <p class="card-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    alaverghett@mail.usf.edu
                                </p>
                                <h5 id="purpBoxBtn" class="card-title headerLink">Vice President: Willie McClinton</h5>
                                <p class="card-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    wmcclinton@mail.usf.edu
                                </p>
                                <h5 id="purpBoxBtn" class="card-title headerLink">Treasurer: Jamshidbek Mirzakhalov</h5>
                                <p class="card-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    mirzakhalov@mail.usf.edu
                                </p>
                                <h5 id="purpBoxBtn" class="card-title headerLink">Secretary: Sanjeeth Bhat</h5>
                                <p class="card-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    sbhat4@mail.usf.edu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {{template "footer"}}
    </body>
</html>
