<html>
  <head>
    {{template "head"}}
    <link rel="stylesheet" href="../src/css/schedule.css">
    <script type="text/javascript" src="../src/js/schedule.js"></script>
    
  </head>
  <body>
    {{template "header"}}
    {{template "title" .}}
  
      <!-- sumBoxes Cards -->
      <div id="sumBoxContainer">
        <!-- Meetings and Events Card -->
        <div class="row">
          <div id="purpBox" class="sumBox col-12">
            <div class="card shadow-sm">
              <div class="card-header">
                  <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> Fall 2018 Meetings and Events
              </div>
              <div class="card-body" style="padding:0;">
                <table class="table" style="margin:0;" id="schedTable">
                  <thead>
                    <tr>
                      <th class="headerLink">Event</th>
                      <th class="headerLink">Date</th>
                      <th class="headerLink">Time</th>
                      <th class="headerLink">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>What is a Hackathon?</td>
                    <td>1/16/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>SwampHacks Prep Meeting</td>
                    <td>1/17/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>


                  <tr>
                    <td>Intro to Python (Beginner)</td>
                    <td>1/23/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>1/17/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Data Science (Advanced)</td>
                    <td>1/30/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>MangoHacks Prep Meeting</td>
                    <td>1/17/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Intro to JS (Beginner)</td>
                    <td>2/6/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>2/7/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>


                  <tr>
                    <td>Intro to Machine Learning (Advanced)</td>
                    <td>2/13/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Expo Emergency Meeting</td>
                    <td>2/14/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Intro to Embedded Systems (Beginner)</td>
                    <td>2/20/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>2/21/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Intro to VR/AR (Advanced)</td>
                    <td>2/27/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>KnightHacks Prep Meeting</td>
                    <td>2/28/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Intro to Alexa (Beginner)</td>
                    <td>3/6/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>3/7/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Amazon Web Services API (Advanced)</td>
                    <td>3/20/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hack-A-Bull Prep Meeting</td>
                    <td>3/21/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Internet of Things (Beginner)</td>
                    <td>3/27/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>3/28/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Intro to Edge Computing (Advanced)</td>
                    <td>4/3/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>HackFSU 6 Prep Meeting</td>
                    <td>4/4/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>Programming Fitbits (Beginner)</td>
                    <td>4/10/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  <tr>
                    <td>Hackathon Prep Meeting</td>
                    <td>4/11/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENB 313</td>
                  </tr>

                  <tr>
                    <td>BCI for Hackathons (Advanced)</td>
                    <td>4/17/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>


                  <tr>
                    <td>End of Semester Banquet</td>
                    <td>4/24/19</td>
                    <td>6:30pm - 8:30pm</td>
                    <td>ENG 3</td>
                  </tr>

                  
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
