<html>
  <head>
    {{template "head"}}
    <link rel="stylesheet" href="../src/css/schedule.css">
    <script type="text/javascript" src="../src/js/schedule.js"></script>
    
  </head>
  <body>
    {{template "header"}}
    {{template "title" .}}
  
      <!-- sumBoxes Cards -->
      <div id="sumBoxContainer">
        <!-- Meetings and Events Card -->
        <div class="row">
          <div id="purpBox" class="sumBox col-12">
            <div class="card shadow-sm">
              <div class="card-header">
                  <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> Fall 2018 Meetings and Events
              </div>
              <div class="card-body" style="padding:0;">
                <table class="table" style="margin:0;" id="schedTable">
                  <thead>
                    <tr>
                      <th class="headerLink">Event</th>
                      <th class="headerLink">Date</th>
                      <th class="headerLink">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>What is a Hackathon?</td>
                    <td>8/22/18</td>
                  <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>8/29/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Algorithic Programming Session</td>
                    <td>8/30/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Intro to Websites Workshop</td>
                    <td>9/5/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>9/6/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>9/12/18</td>
                    <td>TBA</td>
                  </tr>
                    <tr>
                  <td>Algorithmic Programming Session</td>
                    <td>9/13/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Intro to Programming Workshop</td>
                    <td>9/19/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>9/20/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>9/26/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Algorithmic Programming Session</td>
                    <td>9/27/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>React Native Workshop</td>
                    <td>10/3/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>10/4/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>10/10/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Algorithmic Programming Session</td>
                    <td>10/11/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>FireBase Workshop</td>
                    <td>10/17/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>10/18/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>10/24/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Algorithmic Programming Session</td>
                    <td>10/25/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Google Cloud API Workshop</td>
                    <td>10/31/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>11/1/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>11/7/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Elections</td>
                    <td>11/8/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Oculus with Unity Workshop</td>
                    <td>11/14/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Technical Programming Session</td>
                    <td>11/15/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>Expo Meeting</td>
                    <td>11/21/18</td>
                    <td>TBA</td>
                  </tr>
                  <tr>
                    <td>End of Year Banquet</td>
                    <td>11/28/18</td>
                    <td>TBA</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
