<html>
  <head>
    {{template "head"}}
    <link rel="stylesheet" href="../src/css/schedule.css">
    <script type="text/javascript" src="../src/js/schedule.js"></script>
    
  </head>
  <body>
    {{template "header"}}
    {{template "title" .}}
  
      <!-- sumBoxes Cards -->
      <div id="sumBoxContainer">
        <!-- Meetings and Events Card -->
        <div class="row">
          <div id="purpBox" class="sumBox col-12">
            <div class="card shadow-sm">
              <div class="card-header">
                  <img src="../src/images/Winnah Man.png" height="45" width="45" alt=""> Fall 2018 Meetings and Events
              </div>
              <div class="card-body" style="padding:0;">
                <table class="table" style="margin:0;" id="schedTable">
                  <thead>
                    <tr>
                      <th class="headerLink">Event</th>
                      <th class="headerLink">Date</th>
                      <th class="headerLink">Time</th>
                      <th class="headerLink">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Intro to Python (Beginner)</td>
                    <td>9/17/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Intro to JavaScript (Beginner)</td>
                    <td>9/24/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>


                  <tr>
                    <td>DApps with Blockstack (Advanced)</td>
                    <td>10/01/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Building Apps with Flutter (Beginner)</td>
                    <td>10/08/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Automation with UIPath (Advanced)</td>
                    <td>10/15/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Using GCP (Beginner)</td>
                    <td>10/22/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Deploying with Azure (Beginner)</td>
                    <td>10/29/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Intro to Raspberry Pi (Beginner)</td>
                    <td>11/05/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>


                  <tr>
                    <td>Machine Learning (Advanced)</td>
                    <td>11/12/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  <tr>
                    <td>Introduction to R (Beginner)</td>
                    <td>11/19/19</td>
                    <td>6:30 PM - 8:30 PM</td>
                    <td>EGN 003</td>
                  </tr>

                  
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
