/* sumBoxes */
#sumBoxContainer{
    padding-bottom: 30px;
}

.sumBox .card{
    border: 0;
}

.sumBox .card .card-header {
    background-color: #0a378b;
    color: white;
    font-family: 'Orbitron', 'sans-serif';
    border: 1px solid rgba(0,0,0,.125);
}

.sumBox .card .card-body {
    border: 1px solid rgba(0,0,0,.125);
    padding-bottom: 58px;
}

.headerLink {
    font-weight: bold;
    color: #FF0000 !important;
}

.sumBox .card-text .evLink {
    color: orange !important;
    font-weight: bold !important;
}

.sumBox .card-text .evLink:hover {
    color: #FEC108 !important;
}

.sumBox .card-body .btn:hover {
    color: #FEC108;
}

#adEmail {
    color: orange;
}

.pts {
    color: orange;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}