<!-- fname, lname, unum, email, phonenum, school cassification, .... and then submit -->
<span class="pageTitle">Hackathon Travel Form</span>
<mat-divider style="top: 15px; position: relative; margin: 0 20px ;"></mat-divider>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>