<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button class="menuIconBtn" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="navHeader" fxShow="true" fxHide.lt-md="true">
        Society of Competitive Programmers
    </span>
    <span class="example-spacer"></span>
    <div>
        
        <a href="https://www.facebook.com/usfscp18/" class="fa fa-facebook-official"></a>
        <a href="https://usfscp.slack.com" class="fa fa-slack"></a>
        <a href="https://github.com/Society-of-Competitive-Programmers" class="fa fa-github-square"></a>   
    </div>
</mat-toolbar>